{{define "yield"}}
  <h1>Get in touch!!</h1>
  <p>
    To get in touch, please send me an email to
  <a href="mailto:support@rapimacode.com">support@rapimacode.com</a>.
    
  </p>
  {{template "footer"}}
{{end}}